body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(img.jpg);
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.container {
    text-align: center;
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #000;
    backdrop-filter: blur(4500000000px);

}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
}
textarea:focus{
    outline: none;
}
textarea {
    width: 100%;
    height: 150px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-right: 10em;
    resize: none;
    background-color: rgba(3, 84, 109, 0);
}

.stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.a01 {
    background-color: darkmagenta;
}

.stats div {
    width: 23%;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}